@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,100;1,500&display=swap');

body{
    background: #f4f4f4;
    color:#232941;
    font-size: 14px; 
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.resume_kiri{
    width: 700px;
    max-width: 100%;
    display: flex;
    box-shadow: 0 0 2px rgba(0, 0, 0, 2);
}

.resume_kanan{
    background: #232941;
    width: 300px;
    color: white;
}

.resume_desain .resume_kiri > div{
    margin-bottom: 30px;
}

.resume_desain .resume_kanan > div:last-child{
    margin-bottom: 0;
}